[submodule "example1/coreos-kubernetes"]
	path = example1/coreos-kubernetes
	url = https://github.com/coreos/coreos-kubernetes/
[submodule "example1/kubernetes"]
	path = example1/kubernetes
	url = https://github.com/kubernetes/kubernetes
[submodule "example1/docker-hello-world"]
	path = example1/docker-hello-world
	url = https://github.com/koudaiii/docker-hello-world
